@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@media (min-width: 768px) {
    .navbar-brand br {
        display: none; /* hide the BR tag for wider screens (i.e. disable the line break) */
      }
    
      .judul, .fs-7{
        font-size: calc(1rem + .3vw)!important;
      }

      .logoLogin{
        height:280px;
      }

      .kartunhomemd{
        height: 200px;
        width: 414px;
      }


}

.logoLogin{
  height:200px;
}
body{
  animation: transitionIn 0.5s;
}


@keyframes transitionIn{
  from{
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }   
}

.warna{
  background-color: #1C6DD0; 
}

.loginbutton{
  height:50px;
}

.formdaftar .fa, .formdaftar .fas{
  width: 16px;
  height: 16px;
}

.kartunhome{
  height: 200px;
}

/* .warna{
  background-color: white; 
} */

/* .putih{
  background-color: #FFF8F3;
} */

body{
  font-family: 'Poppins', sans-serif;
}


.rotate {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.rotate.down {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

