<!DOCTYPE html>
<html lang="en">
<head>
    {% include "admin/head.html" %}
    <title>Daftar pengguna</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include "admin/nav.html"%}
            <div class="col py-3 pt-5 ms-2">
                <div class="row">
                    <div class="col-md-4">

                        <h4>Daftar pengguna</h4>
                    </div>
                    <div class="col-md-8">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 80%;">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>

                </div>
                <table class="table table-striped mt-4 ">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">No Anggota</th>
                          <th scope="col">Nama</th>
                          <th scope="col">No Hp</th>
                          <th scope="col">Email</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% set count = namespace(value=1) %}
                        {% for user in users %}
                        <tr>
                          <th scope="row">{{ count.value }}</th>
                          {% set count.value = count.value + 1 %}
                          <td>{{user.noanggota}}</td>
                          <td>{{user.nama}}</td>
                          <td>{{user.nohp}}</td>
                          <td>{{user.email}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>


