{% block content %}
<head>
    <title>Keranjang</title>
  </head>
{% include "nav.html"%}
<body class="d-flex flex-column min-vh-100">
    <div class="container pt-5 ">
        {% include 'flash.html'%}
        <h3>Keranjang Buku</h3>
        {% if record is not none %}
        <p>Terdapat {{jmlh}} item pada Keranjang</p>
        {% else %}
        <p>Keranjang kosong, silakan masukkan item</p>
        {% endif %}
        <div class="row ">
            <form class="col-md-10" method="post" action="">
                {% for data in cart %}
                <div class="pt-3">
                    <div class="row form-check ps-6 mb-3">
                        <div class="row div ms-6">
                            <div class="col-8 col-md-12">
                                <input class="form-check-input ms-6 checkbox" type="checkbox" id="check" name="option" value="{{data[1].id_buku}}">
                                <label class="form-check-label">
                                    <a href="/detail?id={{data[1].id_buku}}" target="_blank">
                                        <h5>{{data[1].judul_buku}} </h5>
                                    </a>
                                    <a href="#baris{{data[1].id_buku}}" data-bs-toggle="collapse" class="more"><i class="fas fa-chevron-circle-down rotate fa-1x"></i></a>
                                </label>
    
                            </div>
                            <div class="col-4 imgMini">
                                <img src="{{data[1].linkgambar}}" style="width:97px ; height:144px">
                            </div>
                            
                        </div>
                    </div>
                    <div class="row flex-wrap collapse" id="baris{{data[1].id_buku}}">
                        <div class="col-md-2 imgLarge">
                            <img src="{{data[1].linkgambar}}" style="width:97px ; height:144px">
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Pengarang</td>
                                    <td>{{data[1].pengarang}}</td>
                                  </tr>
                                  <tr>
                                    <td>Penerbitan</td>
                                    <td>{{data[1].penerbit}}</td>
                                  </tr>
                                  <tr>
                                    <td>Deskripsi Fisik</td>
                                    <td>{{data[1].desc_fisik}}</td>
                                </tr>
                                  <tr>
                                      <td>Nomor Panggil</td>
                                      <td>{{data[1].nomor_panggil}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
                {% if record is not none %}
                <button class="btn btn-primary mt-4 signup" type="submit" value="pesan" name="button" disabled>
                pesan</button>
                <button class="btn btn-danger mt-4 signup" type="submit" value="hapus" name="button" disabled>
                    Hapus
                </button>
                <p class="pt-2 mb-1"><i>Pesanan akan ditolak apabila melebihi kuota peminjaman yaitu 2 koleksi dalam satu waktu</i></p>
                <p class="mb-1"><i>Sementara ini layanan pengiriman hanya tersedia untuk area kota mataram dan sekitarnya </i></p>
                <p class=""><i></i></p>
                {% endif %}
            </form>
        </div>
    </div>
</body>
<script src="../static/js/responsiveCart.js"></script>
{% include "footer.html" %}
{% endblock content %}