{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <script src="../static/js/linkreplace.js"></script> -->
    <title>Opac</title>
  </head>
  {% include 'nav.html' %}
  <body class="d-flex flex-column min-vh-100">
    <div class="container">
      {% include 'search.html' %}
      {% include 'flash.html'%}
        <div class="wrapdatabook">
          <input type="hidden" class="dataBook" name="judul">
          <input type="hidden" class="dataBook" name="pengarang">
          <input type="hidden" class="dataBook" name="penerbit">
          <input type="hidden" class="dataBook" name="desc_fisik">
          <input type="hidden" class="dataBook" name="nomor_panggil">
          <input type="hidden" class="dataBook" name="imglink">
        </div>
        {% include 'hasilDetail.html' %}

      
        

    </div>
    

    <!-- <script src="../static/js/linkreplace.js"></script> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script> -->
    <script src="../static/js/detaillink.js"></script>
    {% if user.is_authenticated %}
    <script src="../static/js/addElement.js"></script>
    {% else %}
    <script src="../static/js/addElementNoLog.js"></script>
    {% endif %}
    <!-- <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
    </script> -->
  </body>
</html>
{% include "footer.html" %}
{% endblock content %}