{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  {% if category == 'success'%}
  <div class="alert alert-success alert-dismissible fade show">
    <strong>Success!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% elif category == 'error'%}
  <!-- Error Alert -->
  <div class="alert alert-danger alert-dismissible fade show">
      <strong>Error!</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% elif category == 'warning'%}
  <!-- Warning Alert -->
  <div class="alert alert-warning alert-dismissible fade show">
      <strong>Warning!</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% elif category == 'info'%}
  <!-- Info Alert -->
  <div class="alert alert-info alert-dismissible fade show">
      <strong>Info!</strong> Please read the comments carefully.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}