<div class="footer justify-content-between flex-column-reverse flex-md-row d-flex warna text-white mt-auto">
  <p class="pt-md-4 pb-1 ms-4">
    &copy; 2022 Dinas Perpustakaan dan Kearsipan Provinsi Nusa Tenggara Barat<br/>Baca buku, cara cepat buat pintar
  </p>
  <div class="data justify-content-between d-flex pt-4 ms-4 flex-wrap">
    <p class="md-text-center me-5">
      <span class="fw-bold">Call </span> <br />
      (0370) 631585
    </p>
    <p class="md-text-center me-5">
      <span class="fw-bold">Email</span> <br />
      dpkp@ntbprov.go.id
    </p>
    <p class="md-text-center me-5">
      <span class="fw-bold text-white">Follow </span><br />
      <a href="https://pusdaarsip.ntbprov.go.id/" target="_blank">
        <i class="fa-solid fa-earth-americas text-white"></i>
      </a>
      <a href="https://instagram.com/pusdaarsipntb" class="ms-1 me-1" target="_blank">
        <i class="fa fa-instagram fs-6 text-white"></i>
      </a>
      <a href="https://facebook.com/pusdantb" class="ms-1 me-1" target="_blank"
        ><i class="fa fa-facebook fs-6 text-white"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCX9Hp_oQMl4TubVhLrhK8pQ/featured" target="_blank"
        ><i class="fa fa-youtube fs-6 text-white"></i>
      </a>
    </p>
  </div>
</div>
