<div class="col-md-9">
 <div class="row">
  <div class="col-md-2">
   <br/>
   <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
  </div>
  <div class="col-md-10">
   <center>
    <a data-target=".bs-example-modal-md" data-toggle="modal" href="">
     <i class="glyphicon glyphicon-cog">
     </i>
     Cite This
    </a>
    <a href="javascript:void(0)" onclick="keranjang(136)">
     <i class="glyphicon glyphicon-shopping-cart">
     </i>
     Tampung
    </a>
    <a href="">
     <i class="glyphicon glyphicon-new-window">
     </i>
     Export Record
    </a>
   </center>
   <table class="table table-striped">
    <tr>
     <td>
      Judul
     </td>
     <td style="color:red">
      Kuantar ke gerbang, kisah cinta ibu inggit dengan Bung Karno / Ramdhan KH
     </td>
    </tr>
    <tr>
     <td>
      Pengarang
     </td>
     <td>
      <a href="pencarian-sederhana?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=Semua Jenis Bahan&amp;katakunci=Ramadhan KH">
       Ramadhan KH
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Penerbitan
     </td>
     <td>
      Jakarta Sinar Harapan 1981
     </td>
    </tr>
    <tr>
     <td>
      Deskripsi Fisik
     </td>
     <td>
      xii, 466 hlm. : ilus. ; 20 cm
     </td>
    </tr>
    <tr>
     <td>
      Subjek
     </td>
     <td>
      <a href="pencarian-sederhana?action=pencarianSederhana&amp;ruas=Subyek&amp;bahan=Semua Jenis Bahan&amp;katakunci=Sukarno">
       Sukarno
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Bahasa
     </td>
     <td>
      Indonesia
     </td>
    </tr>
   </table>
   <br/>
  </div>
 </div>
 <div class="row">
 </div>
 <div class="row">
  <div class="col-md-12">
   <span class="nav-tabs-content">
    <ul class="nav nav-tabs">
     <li class="active">
      <a data-toggle="tab" href="#tab_11">
       Eksemplar
      </a>
     </li>
     <li>
      <a data-toggle="tab" href="#tab_12" title="Tampilkan Konten Digital">
       Konten Digital
      </a>
     </li>
     <li>
      <a data-toggle="tab" href="#tab_22" title="Tampilkan Metadata MARC">
       MARC
      </a>
     </li>
     <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
       Unduh Katalog
       <span class="caret">
       </span>
      </a>
      <ul class="dropdown-menu">
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=MARC21" role="menuitem" tabindex="-1">
         Format MARC Unicode/UTF-8
        </a>
       </li>
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=MARCXML" role="menuitem" tabindex="-1">
         Format MARC XML
        </a>
       </li>
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=MODS" role="menuitem" tabindex="-1">
         Format MODS
        </a>
       </li>
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=DC_RDF" role="menuitem" tabindex="-1">
         Format Dublin Core (RDF)
        </a>
       </li>
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=DC_OAI" role="menuitem" tabindex="-1">
         Format Dublin Core (OAI)
        </a>
       </li>
       <li role="presentation">
        <a href="detail-opac/download?id=136&amp;type=DC_SRW" role="menuitem" tabindex="-1">
         Format Dublin Core (SRW)
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </span>
   <div class="tab-content">
    <div class="tab-pane-content active" id="tab_11">
     <div id="detail136">
      <div class="table-responsive">
       <table cellspacing="0" class="table table-striped table-bordered" id="detail">
        <thead>
         <tr>
          <th>
           No Barcode
          </th>
          <th>
           No. Panggil
          </th>
          <th>
           Akses
          </th>
          <th>
           Lokasi
          </th>
          <th>
           Ketersediaan
          </th>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td>
           DW99001203
          </td>
          <td>
           92(Sukarno), Ram k
          </td>
          <td>
           Dapat dipinjam
          </td>
          <td>
           PERPUSTAKAAN NTB - Ruang Layanan Umum
          </td>
          <td>
           Tersedia
           <br/>
           <a class="btn btn-success btn-xs navbar-btn" href="javascript:void(0)" onclick="tampilLogin()">
            pesan
           </a>
          </td>
         </tr>
         <tr>
          <td>
           DW99003274
          </td>
          <td>
           92(Sukarno), Ram k
          </td>
          <td>
           Dapat dipinjam
          </td>
          <td>
           PERPUSTAKAAN NTB - Ruang Layanan Umum
          </td>
          <td>
           Tersedia
           <br/>
           <a class="btn btn-success btn-xs navbar-btn" href="javascript:void(0)" onclick="tampilLogin()">
            pesan
           </a>
          </td>
         </tr>
         <tr>
          <td>
           00087238
          </td>
          <td>
           92(Sukarno), Ram k
          </td>
          <td>
           Dapat dipinjam
          </td>
          <td>
           PERPUSTAKAAN NTB - Ruang Layanan Umum
          </td>
          <td>
           Tersedia
           <br/>
           <a class="btn btn-success btn-xs navbar-btn" href="javascript:void(0)" onclick="tampilLogin()">
            pesan
           </a>
          </td>
         </tr>
         <tr>
          <td>
           30618306
          </td>
          <td>
           92(Sukarno), Ram k
          </td>
          <td>
           Dapat dipinjam
          </td>
          <td>
           PERPUSTAKAAN NTB - Layanan Atas
          </td>
          <td>
           Tersedia
           <br/>
           <a class="btn btn-success btn-xs navbar-btn" href="javascript:void(0)" onclick="tampilLogin()">
            pesan
           </a>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
    <div class="tab-pane-content" id="tab_22">
     <table class="table table-bordered">
      <tr>
       <td>
        Tag
       </td>
       <td>
        Ind1
       </td>
       <td>
        Ind2
       </td>
       <td>
        Isi
       </td>
      </tr>
      <tr>
       <td>
        001
       </td>
       <td>
       </td>
       <td>
       </td>
       <td>
        INLIS000000000000136
       </td>
      </tr>
      <tr>
       <td>
        005
       </td>
       <td>
       </td>
       <td>
       </td>
       <td>
        20150120091138.0
       </td>
      </tr>
      <tr>
       <td>
        006
       </td>
       <td>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>
      <tr>
       <td>
        007
       </td>
       <td>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>
      <tr>
       <td>
        008
       </td>
       <td>
       </td>
       <td>
       </td>
       <td>
        Ind
       </td>
      </tr>
      <tr>
       <td>
        035
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $0010-061300000000136
       </td>
      </tr>
      <tr>
       <td>
        041
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a Ind
       </td>
      </tr>
      <tr>
       <td>
        082
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a 92(Sukarno)
       </td>
      </tr>
      <tr>
       <td>
        090
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a 92(Sukarno), Ram k
       </td>
      </tr>
      <tr>
       <td>
        100
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a Ramadhan KH
       </td>
      </tr>
      <tr>
       <td>
        245
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a Kuantar ke gerbang, kisah cinta ibu inggit dengan Bung Karno / Ramdhan KH
       </td>
      </tr>
      <tr>
       <td>
        260
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $aJakarta$bSinar Harapan$c1981
       </td>
      </tr>
      <tr>
       <td>
        300
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a xii, 466 hlm. : ilus. ; 20 cm
       </td>
      </tr>
      <tr>
       <td>
        650
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a Sukarno
       </td>
      </tr>
      <tr>
       <td>
        850
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a NBPDMAT
       </td>
      </tr>
      <tr>
       <td>
        990
       </td>
       <td>
        #
       </td>
       <td>
        #
       </td>
       <td>
        $a 0001/BPAP-NTB/20142014
       </td>
      </tr>
     </table>
    </div>
    <div class="tab-pane-content" id="tab_12">
    </div>
    <div class="tab-pane-content" id="tab_33">
     Content Unduh katalog
    </div>
   </div>
  </div>
 </div>
 <div class="row">
 </div>
</div>
