<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://kit.fontawesome.com/c0af9cc89b.js" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block content %}
    {% include 'nav.html' %}
    <div class="container">
      {% include 'search.html'%}
      {% include 'flash.html'%}
      <div class="notfound d-flex justify-content-center">
        <img src="../static/img/findbook.jpg" class="w-50 pt-5 pt-md-6" alt="...">
      </div>
      <h4 class="text-center pt-2">Ide besar dimulai dari Perpustakaan</h4>
      <p class="text-center mb-5">
        Terdepan dalam informasi Pustaka dan Kearsipan, menuju Nusa Tenggara Barat gemar membaca dan sadar arsip.
      </p>
      
      
      </div>
    </div>
    
  </body>
  {% include "footer.html" %}
  {% endblock content %}
</html>
