{% block content %}
<!DOCTYPE html>
<head>
  <title>Sign In</title>
</head>
<html lang="en">
  {% include 'nav.html' %}
  <body class="bg-light d-flex flex-column min-vh-100">
    <div class="container mt-5 mb-5 ">
      <div class="row d-flex align-items-center justify-content-center mt-2">
        {% include 'flash.html' %}
        <div class="row-md-10 d-flex flex-wrap-reverse flex-wrap flex-md-row align-items-center justify-content-center">
          <div class="col-md-5 pe-3 ps-3">

            {% if flag %}
            <div class="alert alert-success alert-dismissible fade show">
              <strong>Sukses!</strong> Registrasi Berhasil, silakan login
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endif %}
            <div class="">
              <div class="text-center pt-3">
                <h3 class="mt-2 pb-2">Sign In</h3>
              </div>
              <form action="" method="post">
                <div class="input-group input-group-lg mt-4" >
                  <span class="input-group-text " id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username" value="{{username}}" autocomplete="off" required>
                </div>
                <div class="input-group input-group-lg mt-4">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" placeholder="Kata sandi" aria-label="password" aria-describedby="basic-addon1" name="password" required>
                </div>
                <div>
                  <button class=" btn btn-primary mt-4 signup w-100 loginbutton" type="submit" >
                    Login
                  </button>
                </div>
                
            </form>
  
              <div class="text-center mt-4">
                <span>Belum terdaftar?</span>
                <a href="/daftar" class="text-decoration-none">Daftar Disini</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ps-3 pt-3 d-flex flex-wrap align-items-center justify-content-center">
          
            <img src="../static/img/Logo pusda.png" class="logoLogin" alt="...">
            <h5 class="text-center pe-5 ps-5 pt-4">Dinas Perpustakaan dan Kearsipan daerah Provinsi NTB</h5>
          </div>

          
        </div>
        

      </div>
    </div>
  </body>
  {% include "footer.html"%}
</html>

{% endblock content %}
