{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://kit.fontawesome.com/c0af9cc89b.js" crossorigin="anonymous"></script>

  <title>Daftar</title>
</head>
<script>
  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
  }
</script>
<nav class="navbar navbar-expand-lg navbar navbar-dark warna shadow w-100 p-2">
  <div class="container mt-2">
    <a class="navbar-brand pt-md-1 me-1 me-md-2" href="#">
      <img
        src="../static/img/Logo pusda.png"
        alt=""
        class="d-inline-block align-text-top"
        style="width: 2.5rem"
      />
    </a>
    <a class="navbar-brand lh-sm " href="#">
      <h6 class="text-white fs-6 pt-md-3 judul pt-2">
        PUSDA 
        ARSIP
        NTB
      </h6>
      <p></p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{home}} fs-7" aria-current="page" href="/"
            ><i class="fas fa-home"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {{cartActive}} fs-7 aria-expanded="false"" href="/cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Cart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link fs-7" href="#"><i class="fa-solid fa-truck">Pengiriman</i></a>
        </li> -->
        <li class="nav-item dropdown fs-7">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            {% if user.is_authenticated %}
            {{" "}}{{user.username}}
            {%endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            

            {% if user.is_authenticated %}
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="/pesanan">Pesanan</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            {%else%}
            <li><a class="dropdown-item" href="/login">Sign In</a></li>
            <li><a class="dropdown-item" href="/daftar">Daftar</a></li>
            {%endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"
></script>
{% endblock content%}