{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <script src="../static/js/linkreplace.js"></script> -->
    <title>Opac</title>
  </head>
  {% include 'nav.html' %}
  <body class="d-flex flex-column min-vh-100">
    <div class="container ">
      {% include 'search.html' %}
      <div class="notfound d-flex justify-content-center">
        <img src="../static/img/notfound.jpg" class="w-50 pt-4" alt="...">
        <!-- <h2 class="pt-3 mt-4">Koleksi ini tidak tersedia</h2> -->
      </div>
    </div>
    

    <!-- <script src="../static/js/linkreplace.js"></script> -->
    <script src="../static/js/tablestripped.js"></script>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script> -->
    
  </body>
  {% include "footer.html"%}
</html>

{% endblock content %}