{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <script src="../static/js/linkreplace.js"></script> -->
    <title>Opac</title>
  </head>
  {% include 'nav.html' %}
  <body class=" putih">
    <div class="container">
      {% include 'search.html' %}
      <h6 class="pt-3">{{cari}}</h6>

        {% include 'table.html' %}
        {% include 'pagination.html' %}

    </div>
    

    <script src="../static/js/linkreplace.js"></script>
    <script src="../static/js/tablestripped.js"></script>
    <script src="../static/js/removeCheckbox.js"></script>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script> -->
    
  </body>
</html>
{% include "footer.html" %}
{% endblock content %}