<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% if number<=5 %}
      {% for i in range(10) %}
        {% if i>= maxPages %}
        {% elif number==i+1 %}
          <li class="page-item active"><a class="page-link" href="#">{{i+1}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="#">{{i+1}}</a></li>
        {% endif %}
      {% endfor %}
      {% elif maxPages<10 %}
      {% for i in range(10) %}
        {% if i>= maxPages %}
        {% elif number==i+1 %}
          <li class="page-item active"><a class="page-link" href="#">{{i+1}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="#">{{i+1}}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for i in range(-5,5) %}
        {% if number+i > maxPages %}
        {% elif number==number+i %}
          <li class="page-item active"><a class="page-link" href="#">{{number+i}}</a></li>
          
        {% else %}
          <li class="page-item"><a class="page-link" href="#">{{number+i}}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>