{% block content %}
{% include "nav.html"%}

<body class="d-flex flex-column min-vh-100">
    <div class="container pt-5">
        <h3>Pesanan</h3>
        <p>Pastikan data sudah benar</p>
        <form class="row justify-content-between" method="post" action="">
            <div class="col-md-7  ps-0 flex-wrap">
                {% for data in pesan %}
                <div class="pt-3">
                    <div class="row form-check mb-3">
                        <div class="row div">
                            <div class="col-8 col-md-12 ps-0">
                                <input class="form-check-input checkbox" type="hidden" id="check" name="option" value="{{data.id_buku}}">
                                <label class="form-check-label">
                                    <a href="/detail?id={{data.id_buku}}" target="_blank">
                                        <h5>{{data.judul_buku}}</h5>
                                    </a>
                                    <a href="#baris{{data.id_buku}}" data-bs-toggle="collapse" class=" collapsed" aria-expanded="true"><i>More</i></a>
                                </label>

                            </div>
                            <div class="col-4 imgMini">
                                <img src="{{data.linkgambar}}" style="width:97px ; height:144px">
                            </div>
                            
                        </div>
                    </div>
                    <div class="row flex-wrap collapse show" id="baris{{data.id_buku}}">
                        <div class="col-md-2 imgLarge ">
                            <img src="{{data.linkgambar}}" style="width:97px ; height:144px" class="ps-1">
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Pengarang</td>
                                    <td>{{data.pengarang}}</td>
                                </tr>
                                <tr>
                                    <td>Penerbitan</td>
                                    <td>{{data.penerbit}}</td>
                                </tr>
                                <tr>
                                    <td>Deskripsi Fisik</td>
                                    <td>{{data.desc_fisik}}</td>
                                </tr>
                                <tr>
                                    <td>Nomor Panggil</td>
                                    <td>{{data.nomor_panggil}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr >
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% if record is not none %}
                    <div class="input-group mt-3">
                        <span class="input-group-text "><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Nama lengkap" aria-label="Username" aria-describedby="basic-addon1" name="nama" value="{{user.nama}}" readonly required>
                    </div>
                    <div class="input-group mt-3 pb-2" id="alamat">
                        <span class="input-group-text"><i class="fas fa-map"></i></span>
                        <input type="text" class="form-control " placeholder="Alamat" name="alamat" value="{{user.alamat}}" required>
                    </div>
                    <div>
                        
                    </div>

                    <div class="div">
                        <div class="ps-1 pe-1 pt-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jenis" value="Jemput" id="jemput">
                                <label class="form-check-label" for="jemput" >
                                  Jemput
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jenis" value="Antar" id="antar" checked>
                                <label class="form-check-label" for="antar" >
                                  Antar
                                </label>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-between ps-1 pe-1 pt-1">
                            <p class="fs-6 fw-normal mb-0">Biaya Layanan</p>
                            <p class="fs-6 fw-normal mb-0">Rp. 0,-</p>
                        </div>
                        <div class="d-flex justify-content-between ps-1 pe-1 pt-1">
                            <p class="fs-6 fw-normal mb-0">Biaya pengiriman</p>
                            <p class="fs-6 fw-normal mb-0" id="biaya">Rp. 10.000,-</p>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between ps-1 pe-1">
                            <p class="fs-6 fw-bold fw-normal mb-0">Total Biaya </p>
                            <p class="fs-6 fw-bold fw-normal mb-0" id="totalbiaya">Rp. 10.000</p>
                            <input type="hidden"  name="inputtotalbiaya" id="inputtotalbiaya" value="10000">
                        </div>
                    </div>
                    <div class="input-group d-grid">
                        <button class="btn btn-primary mt-2 signup" type="submit" value="pesan" name="button">
                            Pesan</button>
                    </div>
                        

                    <p class="pt-2"><i>Pastikan alamat pengiriman sudah benar</i></p>
                    
                {% endif %}
            </div>
        </form>

    </div>
    <script src="../static/js/responsiveCart.js"></script>
    <script src="../static/js/checkout.js"></script>
    {% include "footer.html" %}
</body>
{% endblock content %}