{% block content %}
<head>
    <title>Keranjang</title>
  </head>
{% include "nav.html"%}
<body class="d-flex flex-column min-vh-100 ">
    <div class="container pt-5 table-responsive">
        {% include 'flash.html'%}
        <h3>Riwayat Pesanan Buku</h3>
        <table class="table table-striped mt-2 ">
            <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Jenis</th>
                  <th scope="col">Item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Biaya</th>
                  <th scope="col">Keterangan</th>
                </tr>
            </thead>
            <tbody>
                {% set count = namespace(value=1) %}
                {% for peminjaman in peminjamans %}
                <tr>
                  <th scope="row">{{ count.value }}</th>
                  <td>{{peminjaman.peminjaman}}</td>
                  {% set count.value = count.value + 1 %}
                  <td>
                        {% for book in books[count.value-2]%}
                        <span class="d-inline-block text-truncate" style="max-width: 150px;">
                            <a href="/detail?id={{book[1].id_buku}}">
                                {{book[1].judul_buku}}
                             </a>
                        </span>
                            
                        {% endfor %}
                    
                  </td>
                  <td>{{peminjaman.status}}</td>
                  <td>Rp. {{peminjaman.biaya}} ,-</td>
                  <td>
                      {% if peminjaman.keterangan is not none %}
                      {{peminjaman.keterangan}}
                      {% endif %}
                    </td>
                </tr>
              </tbody>
              {% endfor %}
        </table>
        <!-- <div class="col-md-6">
            {% for peminjaman in peminjamans %}
            <div class="pesanan mt-2" >
                <a href="#buku" data-bs-toggle="collapse" class="text-decoration-none itempesanan d-flex justify-content-between align-items-center pb-2">
                    <h5 class="mb-0 ">Layanan {{peminjaman.peminjaman}}</h5>
                    <i class="fas fa-chevron-circle-down rotate fa-1x"></i>
                    <h6 class="mb-0 bg-warning p-2 rounded text-light">{{peminjaman.status}}</h6>
                </a>
                <div class="detailpinjam collapse" id="buku">
                    <ul class="list-group">
                        <li class="list-group-item p-0 border-0 pb-1">
                            Jumlah item : {{books[0]|length}}
                        </li>
                        {% for book in books[0]%}
                        <li class="list-group-item p-0 border-0 pb-1">                       
                            <a href="/detail?id={{book[1].id_buku}}">
                               {{book[1].judul_buku}}
                            </a>
                        </li>
                        {% endfor %}
                        <li class="list-group-item p-0 border-0 pb-1">
                            
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </body> -->

    </div>

{% include "footer.html" %}
{% endblock content %}