<form action="record" method="GET" class="pt-3">
  <input type="hidden" name="action" value="pencarianSederhana" />
  <div class="row">
      <div class="col-md-4 pt-md-2 pb-md-4 pe-md-1">
        <input type="text" class="form-control" name="katakunci" id="KataKunci" value="{{nilai}}" placeholder="Kata Kunci" size="25"/>
      </div>
      <div class="col-md-4 pt-2 pb-md-4 pe-md-1 ps-md-1">
          <select class="form-select" name="ruas">
              <option value="Judul">Judul</option>
              <option value="Pengarang">Pengarang</option>
              <option value="Penerbit">Penerbitan</option>
              <option value="Subyek">Subyek</option>
              <option value="Nomor Panggil">Nomor Panggil</option>
              <option value="ISBN">ISBN</option>
              <option value="ISSN">ISSN</option>
              <option value="ISMN">ISMN</option>
              <option value="Semua Ruas">Sembarang</option>
            </select>
      </div>
      <div class="col-md-3 pt-2 pb-md-4 pe-md-1 ps-md-1">
          <select class="form-select" name="bahan" onchange="getData(this);">
            <option value="1">Monograf</option>
            <option value="4">Terbitan Berkala</option>
            <option value="68">Skripsi</option>
            <option value="69">Tesis</option>
            <option value="6">Bahan Grafis</option>
            <option value="7">Rekaman Video</option>
            <option value="8">Musik</option>
            <option value="9">Bahan Campuran</option>
            <option value="5">Bahan Kartografis</option>
            <option value="2">Sumber Elektronik</option>
            <option value="10">Rekaman Suara</option>
            <option value="11">Bentuk Mikro</option>
            <option value="3">Film</option>
            <option value="12">Manuskrip</option>
            <option value="15">Bahan Ephemeral</option>
            <option value="13">Serial</option>
            <option value="14">Braille</option>
            <option value="Semua Jenis Bahan" selected>Semua Bahan</option>
          </select>
      </div>
      <input type="hidden" class="form-control" name="page" id="page" value="1" placeholder="Kata Kunci" size="25"/>
      <div class="col-md-1 pt-2 pb-md-4 pe-3 ps-md-1 pb-3">
        <button class="btn btn-primary w-md-100" type="submit">Cari</button>
    </div>
  </div>
</form>