{% block content %}
<!DOCTYPE html>
<html lang="en">

  {% include 'nav.html' %}
  <body class="bg-light">
    <div class="container mt-md-5 mb-md-5 mt-4">
      <h3 class=" text-center mb-md-4">Registrasi Anggota </h3>
      <div class="row d-flex align-items-center justify-content-center mt-2">
        <div class="col-md-12 d-flex flex-wrap justify-content-center">
          <div class="col-md-6 me-md-5 pe-md-3 pt-md-5 pt-2 d-flex flex-wrap justify-content-center">
          
            <img src="../static/img/Logo pusda.png" class="logoLogin" alt="...">
            <h5 class="text-center pe-5 ps-5 pt-4">Dinas Perpustakaan dan Kearsipan daerah Provinsi NTB</h5>
            <small class="mt-2 text-center pe-md-5 ps-md-5 ">Menyelenggarakan Urusan Pemerintahan Bidang Perpustakaan dan Urusan Pemerintahan Bidang Kearsipan yang menjadi kewenangan Daerah Provinsi dan Tugas Pembantuan yang ditugaskan kepada Daerah Provinsi</small>
          </div>
          <div class="col-md-5 p-0">
              <form action="" method="post" class="formdaftar">
                <div class="input-group mt-3" >
                  <span class="input-group-text " ><i class="fas fa-fingerprint"></i></span>
                  <input type="text"  class="form-control" placeholder="Username harus unik dan tanpa spasi" aria-label="Username"  name="username" value="{{username}}" required autocomplete="off"> 
                </div>
                {% if spacewarn==true %}
                  <p class="fs-6 fw-normal text ps-1 pt-1 text-danger" >Username mengandung spasi</p>
                {% elif usernamewarn==true %}
                  <p class="fs-6 fw-normal text ps-1 pt-1 text-danger" >Username sudah diambil gunakan yang lain</p>
                {% endif %}
                <div class="input-group mt-3">
                    <span class="input-group-text " ><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Nama lengkap" aria-label="Username"  name="nama" value="{{nama}}" required>
                </div>
                
                <div class="input-group mt-3">
                    <span class="input-group-text" ><i class="fa fa-address-card" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Nomor Anggota" aria-label="Username"  name="noanggota" value="{{noanggota}}" required>
                </div>
                <div class="input-group mt-3">
                  <span class="input-group-text" ><i class="fas fa-map"></i></span>
                  <input type="text" class="form-control" placeholder="Alamat" aria-label="Username"  name="alamat" value="{{alamat}}" required>
              </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" ><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" placeholder="E-mail" aria-label="Username"  name="email" value="{{email}}" required>  
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" ><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Nomor Hp" aria-label="Username"  name="nohp" value="{{nohp}}" required>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" ><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="Kata sandi" aria-label="Username"  name="password1" value="{{pass1}}" required>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" ><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="Konfirmasi Kata sandi" aria-label="Username"  name="password2" value="{{pass2}}" required>
                </div>
                {% if passwarn %}
                <p class="fs-6 fw-normal text ps-1 pt-1 text-danger" >Kata sandi tidak sesuai</p>
                {% endif %}
                <div class="input-group d-grid">
                  <button class="btn btn-primary mt-4 signup" type="submit">
                    Registrasi
                  </button>
                 </div>
               
              </form>
  
              <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
                <label class="form-check-label" for="flexCheckChecked">I agree all the statements</label>
              </div> -->
              <div class="text-center mt-4">
                <span>Sudah menjadi anggota online?</span>
                <a href="/login" class="text-decoration-none">Login</a>
              </div>

          </div>


          
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <script>
  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
  }
</script> -->
{% include "footer.html" %}
{% endblock content %}
