<table class="table2 table-striped" width="100%">
 <tr>
  <td>
   <div id="search136">
    <div class="row">
     <div class="col-sm-1">
      1
      <input name="catID[]" type="checkbox" value="136"/>
      <input id="catalogID136" name="catalogID" type="hidden" value="136"/>
      <div id="favourite136">
       <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
        <span class="glyphicon glyphicon-star">
        </span>
       </a>
      </div>
     </div>
     <div class="col-sm-2">
      <a>
       <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
      </a>
     </div>
     <div class="col-sm-9">
      <table class="table2" style="background:transparent" width="100%">
       <tr>
        <th colspan="2">
         <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=136">
          Kuantar ke gerbang, kisah
          <b style="background-color:yellow">
           cinta
          </b>
          ibu inggit dengan Bung Karno / Ramdhan KH
         </a>
        </th>
       </tr>
       <tr>
        <td width="22%">
         Jenis Bahan
        </td>
        <td width="78%">
         Monograf
        </td>
       </tr>
       <tr>
        <td>
         Pengarang
        </td>
        <td>
         <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Ramadhan KH">
          Ramadhan KH
         </a>
        </td>
       </tr>
       <tr>
        <td valign="top">
         Penerbitan
        </td>
        <td>
         Jakarta Sinar Harapan 1981
         <br/>
        </td>
       </tr>
       <tr>
        <td>
         Konten Digital
        </td>
        <td>
         Tidak Ada Data
        </td>
       </tr>
       <tr>
        <td>
         Ketersediaan
        </td>
        <td>
         <a data-target="#collapsecollection136" data-toggle="collapse" href="javascript:void(0)" id="showmenu136" onclick="collection(136,0)">
          4 dari 4 ekslempar
         </a>
        </td>
        <!-- <td>  </a></td> -->
       </tr>
       <tr>
        <td valign="top">
         Nomor Panggil
        </td>
        <td>
         92(Sukarno), Ram k
        </td>
       </tr>
       <tr>
        <td>
         Artikel
        </td>
        <td>
         Tidak ada data
        </td>
       </tr>
      </table>
     </div>
    </div>
    <div class="row">
     <div class="col-sm-1">
     </div>
     <div class="col-sm-11">
      <div class="collapse" id="collapseKontenDigital136">
       <div id="kontenDigitalShow136">
       </div>
      </div>
      <br/>
     </div>
    </div>
    <div class="row">
     <div class="col-sm-1">
     </div>
     <div class="col-sm-11">
      <div class="collapse" id="collapsecollection136">
       <div id="collectionShow136">
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-sm-1">
     </div>
     <div class="col-sm-11">
      <div class="collapse" id="collapseArticle136">
       <div id="articleShow136">
       </div>
      </div>
     </div>
    </div>
    <tr>
     <td>
      <div id="search196">
       <div class="row">
        <div class="col-sm-1">
         2
         <input name="catID[]" type="checkbox" value="196"/>
         <input id="catalogID196" name="catalogID" type="hidden" value="196"/>
         <div id="favourite196">
          <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
           <span class="glyphicon glyphicon-star">
           </span>
          </a>
         </div>
        </div>
        <div class="col-sm-2">
         <a>
          <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
         </a>
        </div>
        <div class="col-sm-9">
         <table class="table2" style="background:transparent" width="100%">
          <tr>
           <th colspan="2">
            <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=196">
             Wanita-wanita sekelilling Soeharto, Gita
             <b style="background-color:yellow">
              cinta
             </b>
             keluarga cendana, Penyuntinng, Mudjianto
            </a>
           </th>
          </tr>
          <tr>
           <td width="22%">
            Jenis Bahan
           </td>
           <td width="78%">
            Monograf
           </td>
          </tr>
          <tr>
           <td>
            Pengarang
           </td>
           <td>
            <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Mudjianto">
             Mudjianto
            </a>
           </td>
          </tr>
          <tr>
           <td valign="top">
            Penerbitan
           </td>
           <td>
            Jakarta Gajah Perkasa [19-?]
            <br/>
           </td>
          </tr>
          <tr>
           <td>
            Konten Digital
           </td>
           <td>
            Tidak Ada Data
           </td>
          </tr>
          <tr>
           <td>
            Ketersediaan
           </td>
           <td>
            <a data-target="#collapsecollection196" data-toggle="collapse" href="javascript:void(0)" id="showmenu196" onclick="collection(196,0)">
             2 dari 2 ekslempar
            </a>
           </td>
           <!-- <td>  </a></td> -->
          </tr>
          <tr>
           <td valign="top">
            Nomor Panggil
           </td>
           <td>
            92(Suharto), Wan
           </td>
          </tr>
          <tr>
           <td>
            Artikel
           </td>
           <td>
            Tidak ada data
           </td>
          </tr>
         </table>
        </div>
       </div>
       <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
         <div class="collapse" id="collapseKontenDigital196">
          <div id="kontenDigitalShow196">
          </div>
         </div>
         <br/>
        </div>
       </div>
       <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
         <div class="collapse" id="collapsecollection196">
          <div id="collectionShow196">
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
         <div class="collapse" id="collapseArticle196">
          <div id="articleShow196">
          </div>
         </div>
        </div>
       </div>
       <tr>
        <td>
         <div id="search607">
          <div class="row">
           <div class="col-sm-1">
            3
            <input name="catID[]" type="checkbox" value="607"/>
            <input id="catalogID607" name="catalogID" type="hidden" value="607"/>
            <div id="favourite607">
             <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
              <span class="glyphicon glyphicon-star">
              </span>
             </a>
            </div>
           </div>
           <div class="col-sm-2">
            <a>
             <img src="../uploaded_files/sampul_koleksi/original/Monograf/607.jpg" style="width:97px ; height:144px"/>
            </a>
           </div>
           <div class="col-sm-9">
            <table class="table2" style="background:transparent" width="100%">
             <tr>
              <th colspan="2">
               <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=607">
                Bercinta dengan televisi, ilusi, impresi, dan imaji sebuah kotak ajaib / Editor, Deddy Mulyana, Idi Subandy Ibrahim
               </a>
              </th>
             </tr>
             <tr>
              <td width="22%">
               Jenis Bahan
              </td>
              <td width="78%">
               Monograf
              </td>
             </tr>
             <tr>
              <td>
               Pengarang
              </td>
              <td>
               <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Mulyana, Deddy">
                Mulyana, Deddy
               </a>
              </td>
             </tr>
             <tr>
              <td>
              </td>
              <td>
               <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Bercinta dengan televisi, ilusi, impresi, dan imaji sebuah kotak ajaib">
                Bercinta dengan televisi, ilusi, impresi, dan imaji sebuah kotak ajaib
               </a>
              </td>
             </tr>
             <tr>
              <td valign="top">
               Penerbitan
              </td>
              <td>
               Bandung : Remaja Rosda karya, 1997
               <br/>
              </td>
             </tr>
             <tr>
              <td>
               Konten Digital
              </td>
              <td>
               Tidak Ada Data
              </td>
             </tr>
             <tr>
              <td>
               Ketersediaan
              </td>
              <td>
               <a data-target="#collapsecollection607" data-toggle="collapse" href="javascript:void(0)" id="showmenu607" onclick="collection(607,0)">
                4 dari 7 ekslempar
               </a>
              </td>
              <!-- <td>  </a></td> -->
             </tr>
             <tr>
              <td valign="top">
               Nomor Panggil
              </td>
              <td>
               302.234 5 BER b
              </td>
             </tr>
             <tr>
              <td>
               Artikel
              </td>
              <td>
               Tidak ada data
              </td>
             </tr>
            </table>
           </div>
          </div>
          <div class="row">
           <div class="col-sm-1">
           </div>
           <div class="col-sm-11">
            <div class="collapse" id="collapseKontenDigital607">
             <div id="kontenDigitalShow607">
             </div>
            </div>
            <br/>
           </div>
          </div>
          <div class="row">
           <div class="col-sm-1">
           </div>
           <div class="col-sm-11">
            <div class="collapse" id="collapsecollection607">
             <div id="collectionShow607">
             </div>
            </div>
           </div>
          </div>
          <div class="row">
           <div class="col-sm-1">
           </div>
           <div class="col-sm-11">
            <div class="collapse" id="collapseArticle607">
             <div id="articleShow607">
             </div>
            </div>
           </div>
          </div>
          <tr>
           <td>
            <div id="search1444">
             <div class="row">
              <div class="col-sm-1">
               4
               <input name="catID[]" type="checkbox" value="1444"/>
               <input id="catalogID1444" name="catalogID" type="hidden" value="1444"/>
               <div id="favourite1444">
                <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                 <span class="glyphicon glyphicon-star">
                 </span>
                </a>
               </div>
              </div>
              <div class="col-sm-2">
               <a>
                <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
               </a>
              </div>
              <div class="col-sm-9">
               <table class="table2" style="background:transparent" width="100%">
                <tr>
                 <th colspan="2">
                  <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=1444">
                   Orang-orang tercinta, Kahlil Gibran
                  </a>
                 </th>
                </tr>
                <tr>
                 <td width="22%">
                  Jenis Bahan
                 </td>
                 <td width="78%">
                  Monograf
                 </td>
                </tr>
                <tr>
                 <td>
                  Pengarang
                 </td>
                 <td>
                  <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=GIBRAN, Kahlil">
                   GIBRAN, Kahlil
                  </a>
                 </td>
                </tr>
                <tr>
                 <td valign="top">
                  Penerbitan
                 </td>
                 <td>
                  1999 Yogyakarta
                  <br/>
                 </td>
                </tr>
                <tr>
                 <td>
                  Konten Digital
                 </td>
                 <td>
                  Tidak Ada Data
                 </td>
                </tr>
                <tr>
                 <td>
                  Ketersediaan
                 </td>
                 <td>
                  <a data-target="#collapsecollection1444" data-toggle="collapse" href="javascript:void(0)" id="showmenu1444" onclick="collection(1444,0)">
                   3 dari 3 ekslempar
                  </a>
                 </td>
                 <!-- <td>  </a></td> -->
                </tr>
                <tr>
                 <td valign="top">
                  Nomor Panggil
                 </td>
                 <td>
                  892.7, Gib-o
                 </td>
                </tr>
                <tr>
                 <td>
                  Artikel
                 </td>
                 <td>
                  Tidak ada data
                 </td>
                </tr>
               </table>
              </div>
             </div>
             <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
               <div class="collapse" id="collapseKontenDigital1444">
                <div id="kontenDigitalShow1444">
                </div>
               </div>
               <br/>
              </div>
             </div>
             <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
               <div class="collapse" id="collapsecollection1444">
                <div id="collectionShow1444">
                </div>
               </div>
              </div>
             </div>
             <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-11">
               <div class="collapse" id="collapseArticle1444">
                <div id="articleShow1444">
                </div>
               </div>
              </div>
             </div>
             <tr>
              <td>
               <div id="search1475">
                <div class="row">
                 <div class="col-sm-1">
                  5
                  <input name="catID[]" type="checkbox" value="1475"/>
                  <input id="catalogID1475" name="catalogID" type="hidden" value="1475"/>
                  <div id="favourite1475">
                   <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                    <span class="glyphicon glyphicon-star">
                    </span>
                   </a>
                  </div>
                 </div>
                 <div class="col-sm-2">
                  <a>
                   <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
                  </a>
                 </div>
                 <div class="col-sm-9">
                  <table class="table2" style="background:transparent" width="100%">
                   <tr>
                    <th colspan="2">
                     <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=1475">
                      Konglomerat dan
                      <b style="background-color:yellow">
                       cinta
                      </b>
                      : Dua novel peranakan, Penyunting; Nurinwa K., S. Hendrowinoto
                     </a>
                    </th>
                   </tr>
                   <tr>
                    <td width="22%">
                     Jenis Bahan
                    </td>
                    <td width="78%">
                     Monograf
                    </td>
                   </tr>
                   <tr>
                    <td>
                     Pengarang
                    </td>
                    <td>
                     <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=HENDROWINOTO, Nurinwa K.S">
                      HENDROWINOTO, Nurinwa K.S
                     </a>
                    </td>
                   </tr>
                   <tr>
                    <td valign="top">
                     Penerbitan
                    </td>
                    <td>
                     1993 Jakarta
                     <br/>
                    </td>
                   </tr>
                   <tr>
                    <td>
                     Konten Digital
                    </td>
                    <td>
                     Tidak Ada Data
                    </td>
                   </tr>
                   <tr>
                    <td>
                     Ketersediaan
                    </td>
                    <td>
                     <a data-target="#collapsecollection1475" data-toggle="collapse" href="javascript:void(0)" id="showmenu1475" onclick="collection(1475,0)">
                      1 dari 1 ekslempar
                     </a>
                    </td>
                    <!-- <td>  </a></td> -->
                   </tr>
                   <tr>
                    <td valign="top">
                     Nomor Panggil
                    </td>
                    <td>
                     813, Kon-k
                    </td>
                   </tr>
                   <tr>
                    <td>
                     Artikel
                    </td>
                    <td>
                     Tidak ada data
                    </td>
                   </tr>
                  </table>
                 </div>
                </div>
                <div class="row">
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-11">
                  <div class="collapse" id="collapseKontenDigital1475">
                   <div id="kontenDigitalShow1475">
                   </div>
                  </div>
                  <br/>
                 </div>
                </div>
                <div class="row">
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-11">
                  <div class="collapse" id="collapsecollection1475">
                   <div id="collectionShow1475">
                   </div>
                  </div>
                 </div>
                </div>
                <div class="row">
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-11">
                  <div class="collapse" id="collapseArticle1475">
                   <div id="articleShow1475">
                   </div>
                  </div>
                 </div>
                </div>
                <tr>
                 <td>
                  <div id="search1588">
                   <div class="row">
                    <div class="col-sm-1">
                     6
                     <input name="catID[]" type="checkbox" value="1588"/>
                     <input id="catalogID1588" name="catalogID" type="hidden" value="1588"/>
                     <div id="favourite1588">
                      <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                       <span class="glyphicon glyphicon-star">
                       </span>
                      </a>
                     </div>
                    </div>
                    <div class="col-sm-2">
                     <a>
                      <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
                     </a>
                    </div>
                    <div class="col-sm-9">
                     <table class="table2" style="background:transparent" width="100%">
                      <tr>
                       <th colspan="2">
                        <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=1588">
                         Meraih
                         <b style="background-color:yellow">
                          cinta
                         </b>
                         ilahi, Pencerahan sufistik, Jalaluddin Rakhmat
                        </a>
                       </th>
                      </tr>
                      <tr>
                       <td width="22%">
                        Jenis Bahan
                       </td>
                       <td width="78%">
                        Monograf
                       </td>
                      </tr>
                      <tr>
                       <td>
                        Pengarang
                       </td>
                       <td>
                        <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=RAKHMAT, Jalaluddin">
                         RAKHMAT, Jalaluddin
                        </a>
                       </td>
                      </tr>
                      <tr>
                       <td valign="top">
                        Penerbitan
                       </td>
                       <td>
                        2000 BAndung
                        <br/>
                       </td>
                      </tr>
                      <tr>
                       <td>
                        Konten Digital
                       </td>
                       <td>
                        Tidak Ada Data
                       </td>
                      </tr>
                      <tr>
                       <td>
                        Ketersediaan
                       </td>
                       <td>
                        <a data-target="#collapsecollection1588" data-toggle="collapse" href="javascript:void(0)" id="showmenu1588" onclick="collection(1588,0)">
                         4 dari 4 ekslempar
                        </a>
                       </td>
                       <!-- <td>  </a></td> -->
                      </tr>
                      <tr>
                       <td valign="top">
                        Nomor Panggil
                       </td>
                       <td>
                        2X3.13, Rak-m
                       </td>
                      </tr>
                      <tr>
                       <td>
                        Artikel
                       </td>
                       <td>
                        Tidak ada data
                       </td>
                      </tr>
                     </table>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                     <div class="collapse" id="collapseKontenDigital1588">
                      <div id="kontenDigitalShow1588">
                      </div>
                     </div>
                     <br/>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                     <div class="collapse" id="collapsecollection1588">
                      <div id="collectionShow1588">
                      </div>
                     </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                     <div class="collapse" id="collapseArticle1588">
                      <div id="articleShow1588">
                      </div>
                     </div>
                    </div>
                   </div>
                   <tr>
                    <td>
                     <div id="search1864">
                      <div class="row">
                       <div class="col-sm-1">
                        7
                        <input name="catID[]" type="checkbox" value="1864"/>
                        <input id="catalogID1864" name="catalogID" type="hidden" value="1864"/>
                        <div id="favourite1864">
                         <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                          <span class="glyphicon glyphicon-star">
                          </span>
                         </a>
                        </div>
                       </div>
                       <div class="col-sm-2">
                        <a>
                         <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
                        </a>
                       </div>
                       <div class="col-sm-9">
                        <table class="table2" style="background:transparent" width="100%">
                         <tr>
                          <th colspan="2">
                           <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=1864">
                            Mengawetkan
                            <b style="background-color:yellow">
                             cinta
                            </b>
                            kasih suami-istri, Abu Zakaria
                           </a>
                          </th>
                         </tr>
                         <tr>
                          <td width="22%">
                           Jenis Bahan
                          </td>
                          <td width="78%">
                           Monograf
                          </td>
                         </tr>
                         <tr>
                          <td>
                           Pengarang
                          </td>
                          <td>
                           <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Abu,Zakaria">
                            Abu,Zakaria
                           </a>
                          </td>
                         </tr>
                         <tr>
                          <td valign="top">
                           Penerbitan
                          </td>
                          <td>
                           1994 Solo
                           <br/>
                          </td>
                         </tr>
                         <tr>
                          <td>
                           Konten Digital
                          </td>
                          <td>
                           Tidak Ada Data
                          </td>
                         </tr>
                         <tr>
                          <td>
                           Ketersediaan
                          </td>
                          <td>
                           <a data-target="#collapsecollection1864" data-toggle="collapse" href="javascript:void(0)" id="showmenu1864" onclick="collection(1864,0)">
                            1 dari 1 ekslempar
                           </a>
                          </td>
                          <!-- <td>  </a></td> -->
                         </tr>
                         <tr>
                          <td valign="top">
                           Nomor Panggil
                          </td>
                          <td>
                           613.9, Abu m
                          </td>
                         </tr>
                         <tr>
                          <td>
                           Artikel
                          </td>
                          <td>
                           Tidak ada data
                          </td>
                         </tr>
                        </table>
                       </div>
                      </div>
                      <div class="row">
                       <div class="col-sm-1">
                       </div>
                       <div class="col-sm-11">
                        <div class="collapse" id="collapseKontenDigital1864">
                         <div id="kontenDigitalShow1864">
                         </div>
                        </div>
                        <br/>
                       </div>
                      </div>
                      <div class="row">
                       <div class="col-sm-1">
                       </div>
                       <div class="col-sm-11">
                        <div class="collapse" id="collapsecollection1864">
                         <div id="collectionShow1864">
                         </div>
                        </div>
                       </div>
                      </div>
                      <div class="row">
                       <div class="col-sm-1">
                       </div>
                       <div class="col-sm-11">
                        <div class="collapse" id="collapseArticle1864">
                         <div id="articleShow1864">
                         </div>
                        </div>
                       </div>
                      </div>
                      <tr>
                       <td>
                        <div id="search2004">
                         <div class="row">
                          <div class="col-sm-1">
                           8
                           <input name="catID[]" type="checkbox" value="2004"/>
                           <input id="catalogID2004" name="catalogID" type="hidden" value="2004"/>
                           <div id="favourite2004">
                            <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                             <span class="glyphicon glyphicon-star">
                             </span>
                            </a>
                           </div>
                          </div>
                          <div class="col-sm-2">
                           <a>
                            <img src="../uploaded_files/sampul_koleksi/original/Monograf/tdkada.gif" style="width:97px ; height:144px"/>
                           </a>
                          </div>
                          <div class="col-sm-9">
                           <table class="table2" style="background:transparent" width="100%">
                            <tr>
                             <th colspan="2">
                              <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=2004">
                               Mencintai alam Indonesia melalui TMII, M. Saribi Afn, Muryatohartoyo
                              </a>
                             </th>
                            </tr>
                            <tr>
                             <td width="22%">
                              Jenis Bahan
                             </td>
                             <td width="78%">
                              Monograf
                             </td>
                            </tr>
                            <tr>
                             <td>
                              Pengarang
                             </td>
                             <td>
                              <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Muryotohartoyo">
                               Muryotohartoyo
                              </a>
                             </td>
                            </tr>
                            <tr>
                             <td valign="top">
                              Penerbitan
                             </td>
                             <td>
                              21 cm Jakarta
                              <br/>
                             </td>
                            </tr>
                            <tr>
                             <td>
                              Konten Digital
                             </td>
                             <td>
                              Tidak Ada Data
                             </td>
                            </tr>
                            <tr>
                             <td>
                              Ketersediaan
                             </td>
                             <td>
                              <a data-target="#collapsecollection2004" data-toggle="collapse" href="javascript:void(0)" id="showmenu2004" onclick="collection(2004,0)">
                               1 dari 1 ekslempar
                              </a>
                             </td>
                             <!-- <td>  </a></td> -->
                            </tr>
                            <tr>
                             <td valign="top">
                              Nomor Panggil
                             </td>
                             <td>
                              712.759 8, Afn m
                             </td>
                            </tr>
                            <tr>
                             <td>
                              Artikel
                             </td>
                             <td>
                              Tidak ada data
                             </td>
                            </tr>
                           </table>
                          </div>
                         </div>
                         <div class="row">
                          <div class="col-sm-1">
                          </div>
                          <div class="col-sm-11">
                           <div class="collapse" id="collapseKontenDigital2004">
                            <div id="kontenDigitalShow2004">
                            </div>
                           </div>
                           <br/>
                          </div>
                         </div>
                         <div class="row">
                          <div class="col-sm-1">
                          </div>
                          <div class="col-sm-11">
                           <div class="collapse" id="collapsecollection2004">
                            <div id="collectionShow2004">
                            </div>
                           </div>
                          </div>
                         </div>
                         <div class="row">
                          <div class="col-sm-1">
                          </div>
                          <div class="col-sm-11">
                           <div class="collapse" id="collapseArticle2004">
                            <div id="articleShow2004">
                            </div>
                           </div>
                          </div>
                         </div>
                         <tr>
                          <td>
                           <div id="search2661">
                            <div class="row">
                             <div class="col-sm-1">
                              9
                              <input name="catID[]" type="checkbox" value="2661"/>
                              <input id="catalogID2661" name="catalogID" type="hidden" value="2661"/>
                              <div id="favourite2661">
                               <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                                <span class="glyphicon glyphicon-star">
                                </span>
                               </a>
                              </div>
                             </div>
                             <div class="col-sm-2">
                              <a>
                               <img src="../uploaded_files/sampul_koleksi/original/Monograf/2661.jpg" style="width:97px ; height:144px"/>
                              </a>
                             </div>
                             <div class="col-sm-9">
                              <table class="table2" style="background:transparent" width="100%">
                               <tr>
                                <th colspan="2">
                                 <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=2661">
                                  Membina
                                  <b style="background-color:yellow">
                                   cinta
                                  </b>
                                  menuju perkawinan / L.M.Syarifie
                                 </a>
                                </th>
                               </tr>
                               <tr>
                                <td width="22%">
                                 Jenis Bahan
                                </td>
                                <td width="78%">
                                 Monograf
                                </td>
                               </tr>
                               <tr>
                                <td>
                                 Pengarang
                                </td>
                                <td>
                                 <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Syarifie, L.M">
                                  Syarifie, L.M
                                 </a>
                                </td>
                               </tr>
                               <tr>
                                <td valign="top">
                                 Penerbitan
                                </td>
                                <td>
                                 Gresik : Putra pelajar, 1999
                                 <br/>
                                </td>
                               </tr>
                               <tr>
                                <td>
                                 Konten Digital
                                </td>
                                <td>
                                 Tidak Ada Data
                                </td>
                               </tr>
                               <tr>
                                <td>
                                 Ketersediaan
                                </td>
                                <td>
                                 <a data-target="#collapsecollection2661" data-toggle="collapse" href="javascript:void(0)" id="showmenu2661" onclick="collection(2661,0)">
                                  2 dari 4 ekslempar
                                 </a>
                                </td>
                                <!-- <td>  </a></td> -->
                               </tr>
                               <tr>
                                <td valign="top">
                                 Nomor Panggil
                                </td>
                                <td>
                                 2X4.31 SYA m
                                </td>
                               </tr>
                               <tr>
                                <td>
                                 Artikel
                                </td>
                                <td>
                                 Tidak ada data
                                </td>
                               </tr>
                              </table>
                             </div>
                            </div>
                            <div class="row">
                             <div class="col-sm-1">
                             </div>
                             <div class="col-sm-11">
                              <div class="collapse" id="collapseKontenDigital2661">
                               <div id="kontenDigitalShow2661">
                               </div>
                              </div>
                              <br/>
                             </div>
                            </div>
                            <div class="row">
                             <div class="col-sm-1">
                             </div>
                             <div class="col-sm-11">
                              <div class="collapse" id="collapsecollection2661">
                               <div id="collectionShow2661">
                               </div>
                              </div>
                             </div>
                            </div>
                            <div class="row">
                             <div class="col-sm-1">
                             </div>
                             <div class="col-sm-11">
                              <div class="collapse" id="collapseArticle2661">
                               <div id="articleShow2661">
                               </div>
                              </div>
                             </div>
                            </div>
                            <tr>
                             <td>
                              <div id="search2723">
                               <div class="row">
                                <div class="col-sm-1">
                                 10
                                 <input name="catID[]" type="checkbox" value="2723"/>
                                 <input id="catalogID2723" name="catalogID" type="hidden" value="2723"/>
                                 <div id="favourite2723">
                                  <a href="javascript:void(0)" onclick="tampilLogin()" title="Tambah ke Favorite">
                                   <span class="glyphicon glyphicon-star">
                                   </span>
                                  </a>
                                 </div>
                                </div>
                                <div class="col-sm-2">
                                 <a>
                                  <img src="../uploaded_files/sampul_koleksi/original/Monograf/2723.jpg" style="width:97px ; height:144px"/>
                                 </a>
                                </div>
                                <div class="col-sm-9">
                                 <table class="table2" style="background:transparent" width="100%">
                                  <tr>
                                   <th colspan="2">
                                    <a class="topnav-content" href="http://36.91.95.90/inlislite/opac/detail-opac?id=2723">
                                     Medali
                                     <b style="background-color:yellow">
                                      cinta
                                     </b>
                                     untuk istri sholihah, / Rohmadi Rusdi
                                    </a>
                                   </th>
                                  </tr>
                                  <tr>
                                   <td width="22%">
                                    Jenis Bahan
                                   </td>
                                   <td width="78%">
                                    Monograf
                                   </td>
                                  </tr>
                                  <tr>
                                   <td>
                                    Pengarang
                                   </td>
                                   <td>
                                    <a href="?action=pencarianSederhana&amp;ruas=Pengarang&amp;bahan=1&amp;katakunci=Rusdi, Rohmadi">
                                     Rusdi, Rohmadi
                                    </a>
                                   </td>
                                  </tr>
                                  <tr>
                                   <td valign="top">
                                    Penerbitan
                                   </td>
                                   <td>
                                    Pekalongan : Gunung Mas, 1996
                                    <br/>
                                   </td>
                                  </tr>
                                  <tr>
                                   <td>
                                    Konten Digital
                                   </td>
                                   <td>
                                    Tidak Ada Data
                                   </td>
                                  </tr>
                                  <tr>
                                   <td>
                                    Ketersediaan
                                   </td>
                                   <td>
                                    <a data-target="#collapsecollection2723" data-toggle="collapse" href="javascript:void(0)" id="showmenu2723" onclick="collection(2723,0)">
                                     2 dari 5 ekslempar
                                    </a>
                                   </td>
                                   <!-- <td>  </a></td> -->
                                  </tr>
                                  <tr>
                                   <td valign="top">
                                    Nomor Panggil
                                   </td>
                                   <td>
                                    2X4.302 RUS m
                                   </td>
                                  </tr>
                                  <tr>
                                   <td>
                                    Artikel
                                   </td>
                                   <td>
                                    Tidak ada data
                                   </td>
                                  </tr>
                                 </table>
                                </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-11">
                                 <div class="collapse" id="collapseKontenDigital2723">
                                  <div id="kontenDigitalShow2723">
                                  </div>
                                 </div>
                                 <br/>
                                </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-11">
                                 <div class="collapse" id="collapsecollection2723">
                                  <div id="collectionShow2723">
                                  </div>
                                 </div>
                                </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-11">
                                 <div class="collapse" id="collapseArticle2723">
                                  <div id="articleShow2723">
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </td>
                            </tr>
                           </div>
                          </td>
                         </tr>
                        </div>
                       </td>
                      </tr>
                     </div>
                    </td>
                   </tr>
                  </div>
                 </td>
                </tr>
               </div>
              </td>
             </tr>
            </div>
           </td>
          </tr>
         </div>
        </td>
       </tr>
      </div>
     </td>
    </tr>
   </div>
  </td>
 </tr>
</table>
